.filter-bar {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.filter-input,
.filter-select {
  padding: 12px 16px;
  background-color: #2c2f33;
  border: 1px solid #444;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  transition: 0.2s;
}

.filter-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #6c5ce7;
  background-color: #222;
}

.filter-select {
  width: 180px;
  cursor: pointer;
}
